<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Registro.&nbsp;    </h1>
	<!--html><p>Inicia sesión en tu cuenta</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span></html-->

		</div>
	</div>
	
	
		<div class="right">
		<h5>únete</h5>
		
 <form [formGroup]= "formularioRegister"(ngSubmit)="register()">
		<div class="inputs">
            <input placeholder="Username" formControlName="usname" required/>
			<br>
			<input placeholder="ID" formControlName="id" required/>
			<br>
			<input type="password" placeholder="Password" formControlName="pass" required/> 
		</div>
			<br><br> 
				<!-- Angular --> 		
			<br>
			<button class="right button" type="submit" > Registro </button>
			<br><br><br>
	
			<!--<p>No tienes cuenta?<button class="left button" routerLink="auth/register"> Crea una</button>--> 
				<div class="form-field">
					<button class="btn-sec" routerLink="/auth/login">Login</button>
				  </div>
				
 </form>
</div>     
<!-- partial -->     