<!-- partial:index.partial.html -->
<!--html><div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hola.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;    </h1> </html-->
	<!--html><p>Inicia sesión en tu cuenta</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span></html-->
<!--html>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password"> .   
            
            </html-->
				<!-- Angular --> 
	<!--html><label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			
			<br>
			<button>Login</button>
	</div>
	
</div>     </html-->
<!-- partial -->     

<router-outlet></router-outlet>
  